@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Play";
}

<html>
<body>
    <link href="~/Content/JsGameLoopStyle.css" rel="stylesheet" />
    <div id="container">
        <canvas id="canvas"></canvas>
    </div>
    <script src="~/Scripts/JsGameLoop.js"></script>
</body>
</html>

